*{
	margin: 0px;
	padding: 0px;
	font-family: 'MyriadPro';
	/* font-weight: bold; */
	/* font-style: normal; */
}

.header_fixed{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 84px;
	background-color: #939393ee;
	padding-left: 7px;
	z-index: 3;
}
.header_fixed .left, .header_fixed .right{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50vw;
}
.header_fixed .left .logo_text{
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 36px;
	letter-spacing: 7px;
	color: white;
	margin-left: 12px;
}
.header_fixed .right .wrap_nav{
	display: flex;
	flex-direction: row;
	justify-self: flex-end;
	width: 37vw;
	justify-content: space-between;
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 18px;
	color: white;
	align-items: center;
}

.first_block{
	display: flex;
	flex-direction: column;
}
.first_block .text{
	display: block;
	position: absolute;
	font-family: 'MyriadPro';
	font-weight: bold;
	color: white;
	top: 710px;
    left: 120px;
	z-index: 0;
}
.first_block .text #fr{
	font-size: 70px;
	width: 820px;
	margin-bottom: 37px;
}
.first_block .text #sc{
	font-size: 25px;
	width: 820px;
}

.second_block{
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}
.second_block .block{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-items: center;
	background-color: #D5D6D7;
}
.second_block .block .heading_wt{
	display: flex;
	flex-direction: column;
	height: 126px;
	width: calc(100% - 15.5%);
	align-items: flex-start;
    justify-content: center;
}
.second_block .block .heading_wt #fr{
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 36px;
	color: rgb(0, 0, 0);
}
.second_block .block .heading_wt #sc{
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 18px;
	color: rgb(0, 0, 0);
}

.after_sec_block{
	display: flex;
	flex-direction: column;
	height: 61px;
	width: 100%;
	align-items: flex-start;
    justify-content: center;
	background-color: #D5D6D7;
}

.partners_block{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-items: center;
	border-top: 2px dashed #bdbdbd;
}
.partners_block .headind_pb{
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 23px;
	height: 100%;
	margin-top: 50px;
	width: calc(100% - 15.5%);
	color: rgb(0, 0, 0);
}
.partners_block .wrap_pb{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: calc(100% - 15.5%);
	justify-content: center;
	margin-bottom: 143px;
}
.partners_block .wrap_pb .mar{
	display: flex;
	flex-direction: row;
	margin-top: 47px;
	align-items: center;
}
.partners_block .wrap_pb .mar img{
	margin-right: 80px;
}

.yellow_blockt{
	display: flex;
	flex-direction: column;
	background-color: #FFB400;
	font-family: 'MyriadPro';
	font-weight: 300;
	font-size: 24px;
	height: 750px;
}
.yellow_blockt .headind_yb{
	display: flex;
	flex-direction: row;
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 45px;
	color: white;
	margin-top: 50px;
	margin-left: 108px;
}
.yellow_blockt div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 45px;
	margin-left: 25px;
}
.yellow_blockt div span.abz{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.map_block{
	display: flex;
	flex-direction: column;
}
.map_block .heading_mb{
	display: flex;
	flex-direction: column;
	margin-top: 45px;
	margin-bottom: 35px;
	width: calc(100% - 15.5%);
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 20px;
	color: #000000;
	align-items: flex-start;
    justify-content: center;
	margin-left: 108px;
}
.map_block .wrap_mb{
	display: flex;
	flex-direction: row;
	margin-left: 30px;
}
.map_block .wrap_mb .right{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	height: 595px;
	width: 100%;
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	margin-left: 40px;
}
.map_block .wrap_mb .right strong{
	font-size: 16px;
}
.map_block .wrap_mb .right h1{
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 20px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 57px;
}
.map_block .wrap_mb .right p{
	margin-top: 8px;
}
.map_block .wrap_mb .right p span{
	margin-right: 40px;
}
.map_block .wrap_mb .right .button_buy{
	margin-top: 40%;
}
.buttonstyle{
	font-family: 'MyriadPro';
	font-weight: bold;
	background-color: #d5d6d7;
	border-radius: 50px;
	border: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 21px;
	padding-right: 29px;
}
.contacts_block{
	display: flex;
	flex-direction: column;
	height: 615px;
	background-color: #FFB400;
	margin-top: 70px;
	align-items: center;
    justify-content: flex-start;
	padding-left: 100px;
}
.contacts_block .heading_cb{
	display: flex;
	flex-direction: row;
	color: white;
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 23px;
	margin-top: 73px;
	margin-bottom: 30px;
}
.contacts_block .row{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.contacts_block .col{
	display: flex;
	flex-direction: column;
	color: white;
	font-family: 'MyriadPro';
	font-weight: 300;
}
.contacts_block .col label{
	margin-bottom: 8px;
	padding-left: 10px;
}
.contacts_block .col input{
	margin-right: 35px;
	height: 41px;
	border-radius: 10px;
}
.contacts_block .col input[type="email"]{
	width: 268px;
	border: 2px solid #928B7B;
}
.contacts_block .col input[type="text"] {
	width: 268px;
	border: 2px solid #928B7B;
}
.contacts_block .col input[type="text"].mess_input{
	display: flex;
	flex-direction: row;
	width: calc(268px + 268px + 35px + 3px);
	height: 175px;
	align-items: flex-start;
}

/* .contacts_block .col input[type="text"].mess_input::placeholder{
	display: flex;
	flex-direction: column;
} */

input::placeholder{
	font-family: 'MyriadPro';
	font-weight: 300;
	padding-left: 10px;
	color: #D4D4D4;
}
.cont_button{
	margin-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 160px;
	border: 2px solid #928B7B;
	border-radius: 16px;
	background-color: white;
}

footer{
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
footer .left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 23px;
	margin-right: 60px;
	width: 400px;
}
footer .right{
	display: flex;
	flex-direction: column;
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 18px;
	color: #525252;
}