.name_site{
	margin-left: 10px;
	font-size: 60px;
	font-style: italic;
}
header {
	color: blue;
	background: yellow;
}
footer {
	background: yellow;
}
body {
	background: black;
}
.autor{
	margin-left: 1400px;
	float: center;
	color: black;
}
.logo-vk{
    float: right; /* Выравнивание по правому краю */
    margin-top: -50px;
    margin-right: 2px;
}
.logo-vk2{
    margin-top: 50px;
    margin-right: 2px;
}
p1 {
	color: white;
	margin-left: 100px;
	margin-right: auto
}	
p2 {
	color: white;
	margin-left: 100px;
	margin-right: auto
}
p3 {
	color: white;
	margin-left: 100px;
}
p4 {
	color: white;
	margin-left: 100px;
}
p5 {
	color: black;
	text-align: right;
}

IMG.displayed {
    display: block;
    margin-left: 150px;
    margin-right: auto }